.todo-form{
    width: 500px;
    margin: 5% auto;
}
.todo-form input{
    width: 100%;
    padding: 10px;
    margin: 12px 0;
}
.todo-form button,button{
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 12px 28px;
    border: 0;
}
table{
    width: 70%;
    margin: 4% auto;
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}
th{
    background-color: black;
    color: white;
}
button{
    background-color: rgb(243, 51, 51);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}